APP_ENV=production
PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=ptms_user
DB_PASSWORD=routex_pass
DB_NAME=ptms_db
DB_SSLMODE=disable

REDIS_URL=redis:6379
RABBITMQ_URL=amqp://routex:routex_rabbit_pass@rabbitmq:5672/

JWT_SECRET=your_super_secret_jwt_key
